<!DOCTYPE html>
<html>
  <head>
    <title>Hello world!</title>
  </head>
  <body style="font-family: Arial, Helvetica, sans-serif;">

    <div style="width:760px;">
      <h2>hello world</h2>
      <p>not sure what this is</p>

        <!--
          Place the following <div> element where you want the PDF to be displayed in your website. You can adjust the size using the width and height attributes.
        -->
        <div>
            <iframe id="pdf-js-viewer" src="/web/viewer.html?file=%2assets%2pdf%2Freview.pdf" title="webviewer" frameborder="0" width="500" height="600"></iframe>
        </div>

    </div>

  </body>
</html>