{% load static %}

<!DOCTYPE html>
<html>

  <head>
  <!-- The offical release-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.5.207/pdf.js"> </script>
    <script src="{% static 'js/pdfview.js' %}"> </script>
    <link link rel="stylesheet" href="{% static 'css/style.css' %}"> </script>
  </head>

  <body>
    <div id="wrapper">
      <div>
        {% csrf_token %}
        <label class="custom-file-upload">
          <input type="file" id="file">
            Custom Upload
        </label>
      </div>
      <div id="pane"></div>
      <button id="start">play!</button>
    </div>
    <input type="hidden" id="upload-url" data-url="{% url 'upload_view' %}" />
  </body>
</html>
