{% load static %}

<!DOCTYPE html>
<html>

  <head>
  <!-- The offical release-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.5.207/pdf.js"> </script>
  <script src="{% static 'js/pdfview.js' %}"> </script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{% static 'css/music.css' %}">
  <script src="{% static 'js/music.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script>
    var GLOBAL_PATH = '{{ STATIC_PATH }}'; 
 </script>
  </head>

  <body>
    <div id="wrapper">
      <div>
        {% csrf_token %}
        <label class="custom-file-upload">
          <input type="file" id="file">
            Custom Upload
        </label>
      </div>
      <div id="pane"></div>
      
      <div class="music-container" id="music-container">
        <div class="music-info">
          <h4 id="title"></h4>
          <div class="progress-container" id="progress-container">
            <div class="progress" id="progress"></div>
          </div>
        </div>
    
        <audio src="{% static 'media/heart.mp3' %}" id="audio"></audio>
    
        <div class="img-container">
          <img src="{% static 'img/1.jpg' %}" alt="music-cover" id="cover" />
        </div>
        <div class="navigation">
          <button id="prev" class="action-btn">
            <i class="fas fa-backward"></i>
          </button>
          <button id="play" class="action-btn action-btn-big">
            <i class="fas fa-play"></i>
          </button>
          <button id="next" class="action-btn">
            <i class="fas fa-forward"></i>
          </button>
          <button id="volume-down" class="action-btn">
            <i class="fas fa-minus"></i>
          </button>
          <button id="volume-up" class="action-btn">
            <i class="fas fa-plus"></i>
          </button>
        </div>
      </div>
    </div>
    <input style="display:none" id="upload-url" data-url="{% url 'upload_view' %}" />
  </body>
</html>
