{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Eddie | Live music scoring for your ebook adventure</title>
  <meta name="description" content="Live music scoring for your ebook adventure!">
  <meta name="author" content="astrocat879, KennethRuan, RonaldYou & skyflaren">

  <meta property="og:title" content="Eddie">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://github.com/skyflaren/eddie">
  <meta property="og:description" content="Live music scoring for your ebook adventure!">
  <meta property="og:image" content="image.png">

<!--   <link rel="icon" href="/favicon.ico">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <link rel="stylesheet" href="{% static 'css/music.css' %}">
  <script src="{% static 'js/music.js' %}"></script>
</head>

<body>
  <div id="par">
    <div id="container">
      <h1>Eddie</h1>
      <hr>
      <button id="start" type="button">play/pause</button>
    </div>
  </div>
</body>
</html>